/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/* General setup */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width: 90%;
    min-width: 56.25rem;
}

/* ------ Positioning and Grid Layout ------*/

header h1 {
   text-align: center; 
}

.main-section {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 1rem;
}

article {
   grid-column: 1;
    grid-row: 1;
    border-right: 2px solid lightgray;
    padding-right: 0.5rem;
}
.subsection {
    display: flex;
}

aside {
    grid-column: 2;
    grid-row: 1;
}

footer {
    
}

@font-face {
    font-family: robotoslab;
    src: url("../fonts/serif/robotoslab-regualar.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/sans-serif/montserrat-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ultra;
    src: url("../font/serif/ultra-regualar.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* --------TYPOGRAPHY--------*/

h1, h2, h3 {
    font-family: robotoslab, "georgia", serif;
}

h1 {
    font-size:3rem;
    transform: rotate(-5deg); 
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-family: montserrat, "arial", sans-serif;
    font-size: 0.75rem;
}

.highlight {
    font-family: ultra;
    background-color: darkred; 
    display: inline-block;
    padding: 0.75rem 2rem;
    color: azure;
    border-radius: 0.5rem;
    letter-spacing: 0.25rem;
    box-shadow: -0.25rem 0.25rem 0.125rem #313C40;
}

/*------ Navigation Menu ------ */

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
}

nav a {
    display: inline-block;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: darkred;
    text-transform: uppercase;
    text-decoration: none;
 
}

/* ------ Figures and Images ------ */

figure {

}

img {
    width: 100%;
}

.article-image {
    float: left;
    padding-right: 0.5rem;
    width: 30%;
    margin: 0.25rem;
}

figcaption {
  background-color: darkred;
  color: azure;
  font-style: italic;
  padding: 2px;
  text-align: left;
  box-shadow: 0.25rem 0.25rem 0.125rem #313C40;
}
.subsection figure {
    margin: 0.2rem;
}

/* ------ LINKS ------ */

a {
    
}

button {
    border: 0.125rem solid darkred;
    background: none,
    background color: none;
    padding: .625rem 1.25rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-family: "montserrat";
    color:darkred;
    margin-top: 4rem;
    margin-bottom: 8rem;
   
}

.expand {
    text-decoration: none;
    font-size: 0.30rem;
}
